*.ipynb
!tutorial.ipynb
!optimization.ipynb
!plotting.ipynb
!search.ipynb
*.db
*.so
*.o
.ipynb_checkpoints
.idea
.DS_Store
*.npy
*.pyc
.DS_Store
*.json
cached_matrix_elements
*.lock
*.h5
search_logs/*
logs